ruby:
  script = %Q(
    # This script Installs Software Management And Patching Client
    $global:target_path="C:\\ProgramData\\SMAPC"

    function create_target_dir (){
        if ((Test-Path -Path $global:target_path) -eq $false) {
            # Create target folder unless it already exists
            New-Item -ItemType Directory -Force -Path $global:target_path
        }
    }

    function download_client () {
        $url = "#{ url_for root_url }downloads/#{ CLIENT_VERSION }.zip"
        $global:file_path = $global:target_path + "\\client.zip"
        $global:client_path = $global:target_path + "\\runner.cmd"

        # Downloads client
        Invoke-WebRequest -Uri $url -OutFile $global:file_path
    }

    function generate_config () {
        $file_content = '{
          "server_url": "#{ url_for root_url }",
          "invite_auth": "#{ params[:auth_id] }"
        }'
        $file_path = $global:target_path + "\\settings.json"
        [IO.File]::WriteAllLines($file_path, $file_content)
    }

    function run_client () {
    # Unzip client
    Expand-Archive -Path $global:file_path -DestinationPath $global:target_path -Force

    # Executes client for the first time
    & $global:client_path
    }

    create_target_dir
    generate_config
    download_client
    run_client
  )

= script.html_safe
