body
  .card.m-3
    - if flash.present?
      .row
        .col
          = render "shared/flash"

    - else
      .card-header
        h1
          = "Client Download#{" for node: #{@invite.node.friendly_name}" if @invite.node}"

      .card-body
        .card.p-3.mb-3.border-left-info
          h3
            | To install SMAP Client open CMD as administrator then copy and paste following line and hit enter.

          .card.p-3.border-left-warning.bg-dark.text-white
            ruby:
              url = url_for(install_url(params[:auth_id], format: :ps1))
              command = "@\"%SystemRoot%\\System32\\WindowsPowerShell\\v1.0\\powershell.exe\" -NoProfile -InputFormat None -ExecutionPolicy Bypass -Command \"iex ((New-Object System.Net.WebClient).DownloadString('#{url}'))\""

            = command
