- content_for :title do
  .col-12
    .row
      .col-12
        h1 class="h3 mb-0 text-gray-800"
          | Edit user account

.card.o-hidden.border-0.shadow-lg
  .card-body.p-0
    .row
      .col-lg-5.d-none.d-lg-block.bg-register-image
      .col-lg-7
        .p-5
          = form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put, class: 'form' }) do |f|

            .form-group.row
              .col-sm-6.mb-3.mb-sm-0
                = f.text_field :first_name, autofocus: true, autocomplete: "off", class: "form-control form-control-user", placeholder: "First Name"

              .col-sm-6
                = f.text_field :last_name, autofocus: true, autocomplete: "off", class: "form-control form-control-user", placeholder: "Last Name"
              
            .form-group
              = f.email_field :email, autocomplete: "email", class: "form-control form-control-user", placeholder: "Email Address"
              - if devise_mapping.confirmable? && resource.pending_reconfirmation?
                small class="form-text text-muted"
                  | Currently waiting confirmation for: #{resource.unconfirmed_email}

            .form-group.row
              .col-sm-6.mb-3.mb-sm-0
                = f.password_field :password, autocomplete: "new-password", class: "form-control form-control-user", placeholder: "Password"

              .col-sm-6
                = f.password_field :current_password, autocomplete: "new-password", class: "form-control form-control-user", placeholder: "Current password"
                small class="form-text text-muted"
                  | (we need your current password to confirm your changes)

            .row
              .form-group
                = f.submit "Save changes", class: "btn btn-primary btn-user btn-block"
                = link_to registration_path(resource_name), data: { confirm: "Are you sure?" }, class: "btn btn-google btn-user btn-block", method: :delete do
                  i.fa.fa-trash.mr-1
                  | Remove account

css: 
  .bg-register-image {
    background: url(#{asset_pack_path('media/images/login.png')});
    background-position: center;
    background-size: cover;
  }
