.container
  .row.justify-content-center
    .col
      - if flash.present?
        .mt-3
          = render "shared/flash"

      .card.o-hidden.border-0.shadow-lg-mt-3.my-5
        .card-body.p-0
          .row
            .col-lg-5.d-none.d-lg-block.bg-register-image
            .col-lg-7
              .p-5
                .text-center
                  h1.h4.text-gray-900.mb-4
                    | Create an Account!

                = form_for(resource, as: resource_name, url: registration_path(resource_name), html: { class: 'user' } ) do |f|
                  .row
                    .col-6
                      .form-group
                         = f.text_field :first_name, autofocus: true, autocomplete: "off", class: "form-control form-control-user", placeholder: "First Name"

                    .col-6
                      .form-group
                        = f.text_field :last_name, autofocus: true, autocomplete: "off", class: "form-control form-control-user", placeholder: "Last Name"
                  
                  .form-group
                    = f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control form-control-user', placeholder: ("Email Address...")

                  .row
                    .col-6
                      .form-group
                        = f.password_field :password, autocomplete: "new-password", class: "form-control form-control-user", placeholder: "Password"
      
                    .col-6
                      .form-group
                        = f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control form-control-user", placeholder: "Repeat password"

                  = f.submit "Register Account", class: "btn btn-primary btn-user btn-block" do

                hr/

                .text-center
                  .small
                    = render "devise/shared/links"

css: 
  .bg-register-image {
    background: url(#{asset_pack_path('media/images/register.png')});
    background-position: center;
    background-size: cover;
  }
