- content_for :title do
  .col-6
    .row
      .col-6
        h1 class="h3 mb-0 text-gray-800"
          = "#{one.humanize}"

= render 'shared/form', object: @model_instance, path: [@organization, @model_instance] do
  = get_actions(@actions, @model_instance)

- if @installed_apps.present?
  .row
    .col
      .card.p-3.my-3
        h4 Installed Apps

        = render "shared/collection",
          collection: @installed_apps,
          identifier: 'installed_apps',
          fields: %i(name version app_type actions),
          actions: %i(uninstall_app)

- if @uninstall_apps.present?
  .row
    .col
      .card.p-3.my-3
        h4 Apps marked for uninstall

        = render "shared/collection",
          collection: @uninstall_apps,
          identifier: 'uninstall_apps',
          fields: %i(name version app_type actions),
          actions: %i(remove_uninstall_app)
