ruby:
  collection ||= @collection
  actions ||= @actions
  fields ||= @fields
  identifier ||= "#{multiple}_index"

- if collection.any?
  = render "shared/table",
    identifier: identifier,
    field_names: fields,
    collection: collection,
    actions: actions


- else
  .card.border-left-info.p-3
    = render "shared/no_content", controller_name: controller_name

= yield