- flash.to_h.each_pair do |type, message|
  ruby:
    message = message.join("\n") if message.kind_of?(Array)
    clazz = case type.to_sym                                  
              when :error, :alert
                'danger'
              when :info              
                'primary'
              else
                'success'
              end

  /.card.text-white.shadow.p-2 class=("bg-#{clazz} border-#{clazz}")
  .card.p-3 class=("border-left-#{clazz}")
    = message.to_s.html_safe