= form_for(path, html: { class: 'form' }) do |form|
  .row
    . class=("col-12 col-xl-#{local_assigns[:wide] ? 12 : 6}")
      .card.p-3.mt-3
        .card-body
          - @fields&.each_pair do |field, type|
            - if type == :checkbox
              .form-check
                - input_checkbox(form, field)
            - else
              .form-group
                ruby:
                  if type == :collection
                    input_select(field, options_for_select(@model_instance.send(:"#{field}_collection", @organization), @model_instance.send(:"#{field}_collection_selected")))
                  elsif %i(datetime number email textarea link).include?(type)
                    send(:"input_#{type}", form, field, type == :readonly)
                  elsif field == :current_user_id
                    concat(form.hidden_field :current_user_id, value: current_user.id)
                  else
                    input_text(form, field, type == :readonly)
                  end

          - unless @readonly
            .form-group.pt-3
              = form.submit nil, class: 'btn btn-primary btn-block'

      .card-footer
        = yield
