ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion d-md-block d-none" id="accordionSidebar"
  = link_to root_path, class: "sidebar-brand d-flex align-items-center justify-content-center" do
    div class="sidebar-brand-icon rotate-n-15"
      i class="fab fa-sketch"

    div class="sidebar-brand-text mx-3"
      | SMAPS

  hr class="sidebar-divider my-0"

  - navigations.each do |group|
    li class="nav-item"
      - group.each do |item|
        - if item[:path]
          = link_to(item[:path], class: "nav-link") do
            i class=(item[:icon])
            span=(item[:label])

        - else
          - id = item[:label].parameterize
          = link_to('#', class: "nav-link", data: { toggle: "collapse", target: "##{id}", expanded: "true" }, :"aria-controls" => "#{id}") do
            i class=(item[:icon])
            span=(item[:label])

          div id="#{id}" class="collapse" aria-labelledby="#{id}" data-parent="#accordionSidebar"
            div class="bg-white py-2 collapse-inner rounded"
              - item[:items].each do |collapse_item|
                ruby:
                  options = {
                    class: "collapse-item #{(controller_name.to_sym == collapse_item[:controller]) ? 'active' : nil}"
                  }
                  if collapse_item[:path].kind_of?(String)
                    path = collapse_item[:path]
                  else
                    path = collapse_item[:path][:path]
                    options[:method] = collapse_item[:path][:method]
                  end

                = link_to(path, **options) do
                  = collapse_item[:label]
css:
  .sidebar .nav-item .nav-link[data-toggle=collapse]::after {
    width: 1rem;
    text-align: center;
    float: right;
    vertical-align: 0;
    border: 0;
    font-weight: 900;
    content: '';
  }