ruby:
  has_actions = false
  mapped_collection = collection.map do |object|
    mapped_fields = (field_names - [:actions]).each_with_object({}) do |field, hash|
      hash[field] = if field == :entity
        entity_link(object.send(field))
      elsif %i(name friendly_name identificator log_created_at).include?(field)
        if object.is_a?(Organization)
          link_to(object.name, organization_apps_path(object))
        else
          entity_link(object, field)
        end
      else
        new_object = object
        field.to_s.split('.').map(&:to_sym).each do |method|
          new_object = new_object.send(method)
        end

        new_object
      end
    end

    mapped_actions = get_actions(actions, object, :icons)
    if mapped_actions.present?
      has_actions = true
      mapped_fields[:actions] = mapped_actions
    end

    mapped_fields
  end

  table_columns = table_columns(has_actions ? field_names : field_names - [:actions])

.card.p-3
  table.table.table-responsive-lg id=("#{identifier}")

css:
  .bootstrap-table .fixed-table-container .fixed-table-body .fixed-table-loading {
    align-items: center;
    background: #fff;
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 0;
    width: 100%;
    z-index: 1000;
    transition: visibility 0s, opacity 0.15s ease-in-out;
    opacity: 0;
    visibility: hidden;
  }

javascript:
  if ($("##{identifier}").closest('.bootstrap-table').length == 0) {
    $("##{identifier}").bootstrapTable({
      pagination: true,
      search: true,
      columns: #{table_columns.to_json.html_safe},
      data: #{mapped_collection.to_json.html_safe},
      onPostBody: function (data) {
        $("[data-toggle='dropdown']").not('.loaded').on("click", function () {
          const $element = $(this)
          if ($element.closest('.pagination-detail').length) {

            $element.dropdown('toggle')
            $element.addClass('loaded')
          }
        })
      },
    })
  }
