- if @current_user
  nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow"
    .d-block.d-md-none
      - id = 'topNavDropdown'
      = link_to('#', class: "rounded-circle ml-2", data: { toggle: "collapse", target: "##{id}", expanded: "false" }, :"aria-controls" => "#{id}") do
        i class="fa fa-bars"

    .dropdown.no-arrow.ml-auto.mr-3.nav-item
      a.nav-link.dropdown-toggle.px-0 href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
        span class="mr-2 text-gray-600 small"
          = @current_user.full_name
        = image_pack_tag 'media/img/undraw_profile.svg', class: "img-profile rounded-circle"

      div class="dropdown-menu shadow animated--grow-in" aria-labelledby="userDropdown"
        = link_to(edit_user_registration_path, class: "dropdown-item") do
          i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"
          | Account Settings

        = link_to(destroy_user_session_path, method: :delete, class: "dropdown-item") do
          i class="fas fa-sign-out-alt mr-2 text-gray-400"
          | Logout

  #topNavDropdown.collapse.d-md-none
    ul.bg-light.border.border-primary.m-3.p-3.rounded.list-group
      - navigations.each do |group|
        - group.each do |item|
          - if item[:path]
            = link_to(item[:path]) do
              li.list-group-item.text-primary
                i class=(item[:icon])
                span=(item[:label])

          - else
            li.list-group-item.text-secondary
              = item[:label]

            ul.list-group
              - item[:items].each do |collapse_item|
                ruby:
                  options = {}
                  if collapse_item[:path].kind_of?(String)
                    path = collapse_item[:path]
                  else
                    path = collapse_item[:path][:path]
                    options[:method] = collapse_item[:path][:method]
                  end

                = link_to(path, **options) do
                  li.list-group-item.text-primary.pl-5
                    = collapse_item[:label]

css:
  .fixed-table-toolbar input[type='search'] {
    margin-bottom: 1rem !important;
  }

  @media (min-width: 576px) {
    .topbar .dropdown .dropdown-menu {
      left: -25px;
    }
  }

  @media (max-width: 576px) {
    .topbar .dropdown .dropdown-menu {
      left: 0px;
      right: 0px;
      margin: auto;
      margin-top: 5px;
    }
  }
