- content_for :title do
  .col-12.col-md-10.col-lg-4
    .row
      .col-6
        h1 class="h3 mb-0 text-gray-800"
          = multiple.humanize
      .col-6
        = link_to "New #{one.humanize}", send(:"new_organization_#{one}_path"), class: "btn btn-primary"

br/

= render "shared/collection"
