.container
  .row.justify-content-center
    .col
      - if flash.present?
        .mt-3
          = render "shared/flash"

      .card.o-hidden.border-0.shadow-lg-mt-3.my-5
        .card-body.p-0
          .row
            .col-lg-5.d-none.d-lg-block.bg-login-image
            .col-lg-7
              .p-5
                .text-center
                  h1.h4.text-gray-900.mb-4
                    | Welcome Back!

                = form_for(resource, as: resource_name, url: session_path(resource_name), html: { class: 'user' } ) do |f|
                  .form-group
                    = f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control form-control-user', placeholder: ("Enter Email Address...")

                  .form-group
                    = f.password_field :password, autocomplete: "current-password", class: 'form-control form-control-user', placeholder: "Password"

                  .form-group
                    .custom-control.custom-checkbox.small

                      - if devise_mapping.rememberable?
                        = f.check_box :remember_me, class: 'custom-control-input'
                        = f.label :remember_me, class: 'custom-control-label' do
                          | Remember Me

                  = f.submit "Login", class: "btn btn-primary btn-user btn-block" do

                hr/

                .text-center
                  .small
                    = render "devise/shared/links"

css: 
  .bg-login-image {
    background: url(#{asset_pack_path('media/images/login.png')});
    background-position: center;
    background-size: cover;
  }
