- content_for :title do
  .col-12.col-md-10.col-lg-6
    .row
      .col-12.col-sm-6.mb-1
        h1 class="h3 mb-0 text-gray-800"
          = multiple.humanize
      .col-12.col-sm-6
        = link_to "New #{one}", send(:"new_organization_path"), class: "btn btn-primary"

br/

= render "shared/collection" do
  - if @pending_invites.present?
    .card.p-3.mt-3
      h4 You have pending organization invites..

      = render "shared/collection",
        collection: @pending_invites,
        identifier: 'pending_invites',
        fields: %i(organization.name actions),
        actions: %i(accept reject)
