- content_for :title do
  .col-6
    .row
      .col-6
        h1 class="h3 mb-0 text-gray-800"
          = "#{one.humanize}"

= render 'shared/form', object: @model_instance, path: @model_instance do
  = get_actions(@actions, @model_instance)
