- content_for :title do
  .col-12.col-md-10.col-lg-4
    .row
      .col-6
        h1 class="h3 mb-0 text-gray-800"
          = multiple.humanize

br/

= render "shared/collection" do
  .row.mt-3
    .col-12.col-md-6.col-lg-4.col-xl-3
      .btn-group
        button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
          i.mr-1 class="fas fa-trash"
          | Delete logs older than

        .dropdown-menu
          - %w(1 7 14 30).each do |enum|
            = link_to(delete_older_logs_organization_logs_path(age: enum), method: :delete, data: {confirm: 'Are you sure?'}, class: 'dropdown-item') do
              = "#{enum} day(s)"

          = link_to(delete_all_organization_logs_path, method: :delete, data: {confirm: 'Are you sure?'}, class: 'dropdown-item') do
            = 'Delete all logs'


    .col-12.col-md-6.col-lg-4.col-xl-3
      .btn-group
        button type="button" class="btn btn-warning dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
          i.mr-1 class="fas fa-recycle"
          | Keep
  
        .dropdown-menu
          - %w(1 3 5 10).each do |enum|
            = link_to(keep_organization_logs_path(amount: enum), method: :delete, data: {confirm: 'Are you sure?'}, class: 'dropdown-item') do
              = "#{enum} log(s)"