doctype html
html
  head
    meta name="viewport" content="width=device-width, initial-scale=1.0"
    meta http-equiv="Content-Type" content="text/html;charset=UTF-8"

    title SMAP Server
    = csrf_meta_tags
    = csp_meta_tag

    = javascript_packs_with_chunks_tag 'application'
    = stylesheet_packs_with_chunks_tag 'application', media: 'all'

  = yield
