ruby:
  navigations = [
    [
      {
        label: 'Organizations',
        path: organizations_path,
        icon: "fas fa-sitemap mr-1"
      }
    ],
  ]

  if @organization && controller_name != "organizations"
    navigations.push(
      [
        {
          label: 'Components',
          icon: "fas fa-fw fa-cog mr-1",
          items: [
            {
              label: 'Roles',
              path: organization_roles_path,
              controller: :roles
            },
            {
              label: 'Apps',
              path: organization_apps_path,
              controller: :apps
            },
            {
              label: 'App Groups',
              path: organization_app_groups_path,
              controller: :app_groups
            },
            {
              label: 'Nodes',
              path: organization_nodes_path,
              controller: :nodes
            },
            {
              label: 'Node groups',
              path: organization_node_groups_path,
              controller: :node_groups
            },
            {
              label: 'Invites',
              path: organization_invites_path,
              controller: :invites
            },
            {
              label: 'Logs',
              path: organization_logs_path,
              controller: :logs
            },
          ]
        }
      ]
    )
  end

  navigations.push(
    [
      {
        label: 'Account Settings',
        path: edit_user_registration_path,
        icon: "fas fa-user fa-sm fa-fw mr-1"
      }
    ]
  )

= render "layouts/base" do
  body id="page-top"
    div id="wrapper"
      = render "shared/left_nav", navigations: navigations

      div id="content-wrapper" class="d-flex flex-column"
        div id="content"
          = render "shared/top_nav", navigations: navigations

          div class="container-fluid"
            .row class="d-sm-flex align-items-center mb-3"
              = yield :title

            - if flash.present?
              .row
                .col
                  = render "shared/flash"

            .row
              .col
                = yield

        footer class="sticky-footer bg-white"
          div class="container my-auto"
            div class="copyright text-center my-auto"
                span
                  | Copyright © 2021
